In [ ]:
import pandas

### Cleaning Data

#### Data Cleaning
Data cleaning means fixing bad data in your data set. <br>

Bad data could be:
- Empty cells
- Data in wrong format
- Wrong data
- Duplicates

### Cleaning Empty Cells

#### Empty Cells
Empty cells can potentially give you a wrong result when you analyze data.

#### Remove Rows
One way to deal with empty cells is to remove rows that contain empty cells. <br>

This is usually OK, since data sets can be very big, and removing a few rows will not have a big impact on the result.

Example

    - Return a new Data Frame with no empty cells:

In [ ]:
df = pandas.read_csv('test_data/data-clean.csv')
new_df = df.dropna()
print(new_df)

**Note:** By default, the dropna() method returns a new DataFrame, and will not change the original. <br>

If you want to change the original DataFrame, use the inplace = True argument. <br>

Example
    
    - Remove all rows with NULL values:

In [ ]:
df.dropna(inplace = True)
print(df)

**Note:** Now, the dropna(inplace = True) will NOT return a new DataFrame, but it will remove all rows containing NULL values from the original DataFrame.

#### Replace Empty Values

Another way of dealing with empty cells is to insert a new value instead. <br>

This way you do not have to delete entire rows just because of some empty cells. <br>

The fillna() method allows us to replace empty cells with a value. <br>

Example

    - Replace NULL values with the number 130:

In [ ]:
df = pandas.read_csv('test_data/data-clean.csv')
df.fillna(130,inplace = True)
print(df)

##### Replace Only For Specified Columns
The example above replaces all empty cells in the whole Data Frame. <br>

To only replace empty values for one column, specify the column name for the DataFrame. <br>

Example

    - Replace NULL values in the "Calories" columns with the number 130:

In [ ]:
df = pandas.read_csv('test_data/data-clean.csv')

# df["Calories"].fillna(130, inplace = True)

df["Calories"] = df["Calories"].fillna(130)
print(df)

#### Replace Using Mean, Median, or Mode

A common way to replace empty cells, is to calculate the mean, median or mode value of the column. <br>

Pandas uses the mean() median() and mode() methods to calculate the respective values for a specified column. <br>

Example

    - Calculate the MEAN, and replace any empty values with it:

In [ ]:
df = pandas.read_csv('test_data/data-clean.csv')

mean = df["Calories"].mean()

df["Calories"] = df["Calories"].fillna(mean)

print(df)

    - Calculate the MEDIAN, and replace any empty values with it:

In [ ]:
df = pandas.read_csv('test_data/data-clean.csv')

median = df["Calories"].median()

df["Calories"] = df["Calories"].fillna(median)

print(df)

    - Calculate the MODE, and replace any empty values with it:

In [ ]:
df = pandas.read_csv('test_data/data-clean.csv')

mode = df["Calories"].mode()

df["Calories"] = df["Calories"].fillna(mode)

print(df)

### Cleaning Data of Wrong Format

#### Data of Wrong Format
Cells with data of wrong format can make it difficult, or even impossible, to analyze data. <br>

To fix it, you have two options: remove the rows, or convert all cells in the columns into the same format.

#### Convert Into a Correct Format
In our Data Frame, we have two cells with the wrong format. Check out row 22 and 26, the 'Date' column should be a string that represents a date. <br>

Pandas has a to_datetime() method for this. <br>

Example

    - Convert to date:

In [ ]:
df = pandas.read_csv('test_data/data-clean.csv')

df['Date'] = pandas.to_datetime(df['Date'], format = 'mixed', dayfirst = False, errors = 'coerce')

print(df)

#### Removing Rows
The result from the converting in the example above gave us a NaT value, which can be handled as a NULL value, and we can remove the row by using the dropna() method. <br>

Example

    - Remove rows with a NULL value in the "Date" column:

In [ ]:
df.dropna(subset = ['Date'], inplace = True)
print(df)

### Fixing Wrong Data

#### Wrong Data
"Wrong data" does not have to be "empty cells" or "wrong format", it can just be wrong, like if someone registered "199" instead of "1.99".

Sometimes you can spot wrong data by looking at the data set, because you have an expectation of what it should be.

If you take a look at our data set, you can see that in row 7, the duration is 450, but for all the other rows the duration is between 30 and 60.

#### Replacing Values
One way to fix wrong values is to replace them with something else.

In our example, it is most likely a typo, and the value should be "45" instead of "450", and we could just insert "45" in row 7.

Example

    - Set "Duration" = 45 in row 7:

In [ ]:
df = pandas.read_csv('test_data/data-clean.csv')

df.loc[7,'Duration'] = 45

print(df)

For small data sets you might be able to replace the wrong data one by one, but not for big data sets.

To replace wrong data for larger data sets you can create some rules, e.g. set some boundaries for legal values, and replace any values that are outside of the boundaries.

In [ ]:
df = pandas.read_csv('test_data/data-clean.csv')
for x in df.index:
    if (df.loc[x, 'Duration'] > 120):
        df.loc[x, 'Duration'] = 120
print(df)

#### Removing Rows
Another way of handling wrong data is to remove the rows that contains wrong data.

This way you do not have to find out what to replace them with, and there is a good chance you do not need them to do your analyses

Example

    - Delete rows where "Duration" is higher than 120:

In [ ]:
df = pandas.read_csv('test_data/data-clean.csv')
for x in df.index:
    if (df.loc[x, 'Duration'] > 120):
        df.drop(x,inplace = True)
    
print(df)

### Removing Duplicates

#### Discovering Duplicates
Duplicate rows are rows that have been registered more than one time.

By taking a look at our test data set, we can assume that row 11 and 12 are duplicates.

To discover duplicates, we can use the duplicated() method.

The duplicated() method returns a Boolean values for each row.

In [ ]:
print(df.duplicated())

#### Removing Duplicates
To remove duplicates, use the drop_duplicates() method.

In [ ]:
df.drop_duplicates(inplace = True)